
GamerSocial/GamerSocial.xcodeproj/project.xcworkspace/xcuserdata/mtihonc1.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

GamerSocial/GamerSocial.xcodeproj/project.xcworkspace/xcuserdata/mtihonc1.xcuserdatad/UserInterfaceState.xcuserstate

PartiesTonight/PartiesTonight.xcodeproj/xcuserdata/mihailtihonchik.xcuserdatad/xcschemes/PartiesTonight.xcscheme

PartiesTonight/PartiesTonight.xcodeproj/xcuserdata/mihailtihonchik.xcuserdatad/xcschemes/xcschememanagement.plist

PartiesTonight/PartiesTonight.xcworkspace/xcuserdata/mihailtihonchik.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

PartiesTonight/PartiesTonight.xcworkspace/xcshareddata/PartiesTonight.xccheckout
